<div class="buy_stuff_form">

<%= form_for(@user) do |f| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      
    </div><%# End of: <div id="error_explanation"> %>
  <% end %><%# End of: <% if @user.errors.any? %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  </fieldset>
<% end %><%# End of: form_for(@user) do |f| %>

</div><%# End of: <div class="depot_form"> %>
