<!DOCTYPE html>
<html>

<head>
  <title>Buy Stuff</title>
  <%= stylesheet_link_tag 'application', media: 'all', 
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>

  <div id="banner">
    <%= image_tag("BUY_Stuff_logo.png") %>
    <%= @page_title || "Buy Stuff" %>
  </div>

  <div id="columns">
  
    <div id="main">
      <%= yield %>
    </div>
    
    <div id="side">
      <%# Display cart ONLY if @cart value is set in this file %>
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
       <% end %>

      <div id=datetime>
        <%= Time.now.strftime("%B %d, %Y - %I:%M %p") %>
      </div>
    
      <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
      </ul>
      
      <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete %>
      <% end %>
    </div><%# End tag for div id of side %>

  </div><%# End tag for div id of columns %>
  
</body>

</html>
